<h2>UserName: {{name}}</h2>
<h2>{{run}}</h2>
<ul class="heroes">
<li *ngFor="let hero of needs">
<a >
  <span class="badge">{{hero.id}}</span> 
  Name: {{hero.name}}
  <pre>  Quantity: {{hero.quantity}}</pre>
  <pre>  Animal: {{hero.animal}}</pre>
  <pre>  Cost: {{hero.cost}}</pre>
</a>
<button type="button" class="delete" title="delete hero"
      (click)="delete(hero.id)">x</button>
</li>
</ul>

<button type="button" class="delete" title="delete hero"
      (click)="submit()">Checkout</button>

<app-helper-search></app-helper-search>

<ul class="heroes">
  <li *ngFor="let hero of heroes">
  <a >
    <span class="badge">{{hero.id}}</span> 
    Name: {{hero.name}}
    <pre>  Quantity: {{hero.quantity}}</pre>
    <pre>  Animal: {{hero.animal}}</pre>
    <pre>  Cost: {{hero.cost}}</pre>
  </a>
  <button type="button" class="delete" title="delete hero"
      (click)="add(hero.id)">add</button>
  </li>
</ul>